
.skill-name{
    width: 19vw;
    height: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
#carouselExampleControls{
    width: 50%;
    position: relative;
    left: 26%;
}
.portfolio-projects h2{
    text-align: center;
    margin: 20px;
    color: #7b8ca8;
}
